<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br><br>
    <div class="row  center-align col s4">
      <div class="col s4 ">
        <h2></h2>
      </div>
      <div class="col s4 z-depth-4 card-panel">
        <form class="login-form">
          <div class="row">
            <div class="input-field col s12 center">
              <p class="center login-form-text"><h2 class="gray-text">New Book</h2></p>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-av-my-library-books prefix"></i>

                  <%= f.text_field :name, :placeholder => "Title" %>

              </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-social-person-outline prefix"></i>

              <%= f.text_field :author, :placeholder => "Author" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <div class="actions">
                <%= f.submit "Save",  class:"waves-effect waves-light btn"%>
              </div>
             </div>
             <div class="input-field col s6">
               <div class="actions">
                 <%= link_to 'Back', books_path, class:"waves-effect waves-light btn" %>
               </div>

             </div>
          </div>
        </form>
      </div>
    </div>

<% end %>
