<!DOCTYPE html>
<html>
<head>
  <title>IReviwed</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#!" class="brand-logo">BOOKS</a>
      <ul class="right hide-on-med-and-down">

        <li>  <% if logged_in? %>
          <div style='float: right; white-text'>
              <%= current_user.name %></li>
            <li>  <%= link_to '<i class="mdi-content-clear"> </i>'.html_safe, logout_path, method: :delete %></li>
          </div>
          <% end %>
      </ul>
    </div>
  </nav>
</div>


<center><% flash.each do |key, value|%>
<p id= '<%=key%>' >
  <%= value %>
</p>

<%end%></center>
<div class="contenedor">
<%= yield %>

</div>

<footer class="page-footer teal lighten-2">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Footer</h5>
               <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2014 Copyright Text
           </div>
         </div>
       </footer>

</body>

       <!-- jQuery Library -->
       <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>
       <!--materialize js-->
       <script type="text/javascript" src="js/materialize.min.js"></script>
       <!--prism-->
       <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
       <!--scrollbar-->
       <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

           <!--plugins.js - Some Specific JS codes for Plugin Settings-->
         <script type="text/javascript" src="js/plugins.min.js"></script>
         <!--custom-script.js - Add your own theme custom JS-->
         <script type="text/javascript" src="js/custom-script.js"></script>
</html>
